/SteamIdler.userprefs
/SteamIdler/bin/Debug/SteamIdler.exe
/SteamIdler/bin/Debug/SteamIdler.pdb
/SteamIdler/bin/Debug/SteamKit2.dll
/SteamIdler/bin/Debug/protobuf-net.dll
/SteamIdler/bin/Release/SteamKit2.dll
/SteamIdler/bin/Release/protobuf-net.dll
/SteamIdler/bin/Release/SteamIdler.exe
/SteamIdler/bin/Release/SteamIdler.pdb
/SteamIdler/obj
/SteamIdler/bin/Debug

/SteamIdler.v11.suo
